{% extends 'base.html' %}

{% block body %}
    <div class="container">

        <h2> How it works</h2>
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col">
                        <p class="text-center">
                            <i class="fas fa-upload fa-6x"></i>
                            <br>
                            <br>
                            Upload image or video of surgery

                        </p>
                    </div>
                    <div class="col">
                        <p class="text-center">
                            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                        </p>
                    </div>
                    <div class="col">
                        <p class="text-center">
                            <i class="fas fa-chart-line fa-6x"></i>
                            <br>
                            <br>
                            Image processing analysis is performed automatically
                        </p>
                    </div>
                    <div class="col">
                        <p class="text-center">
                            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                        </p>
                    </div>
                    <div class="col">
                        <p class="text-center">
                            <i class="far fa-envelope fa-6x"></i>
                            <br>
                            <br>
                            Wait for an email with the results
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h2>{{ headline }}</h2>
            <p class="text-danger">{{ error_text }}</p>

            <form method="post" enctype="multipart/form-data" id="upload_form">
                {% csrf_token %}
                {{ form.as_p }}

                <p id="agreementMessage" class="text-danger m-2" style="display: block;">
                    Help us to improve our service by allowing us to use your data for research and educational purposes.
                </p>
                <div class="progress not-visible" id="progress"></div>



                <button class="btn btn-primary has-spinner mt-2" id="btnUpload" type="submit">
                    {#            <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>#}
                    <i class="fas fa-upload"></i>
                    {{ button }}
                </button>
                {#            {% if request.user.is_authenticated %}#}
                {#            <a href="{% url 'uploader:web_reports' %}" class="btn btn-secondary">Go to list of reports</a>#}
                {#            {% endif %}#}
                    <!-- Warning message for unchecked agreement -->

            </form>



            <p class="mt-3">
                You can try it with a <a href="{% url 'uploader:download_sample_image' %}">sample image</a>,
                {% if sample_collection %}
                or you can check <a href="{%  url 'uploader:show_collection' sample_collection.hash %}">sample reports, </a>
                {% endif %}
                or check our GitHub repository <a href="https://github.com/mjirik/surgeryanalyser">Surgery Analyser GitHub repository, </a>
            </p>

            <p class="mt-3">
                <a href="https://docs.google.com/document/d/1nu53k1kIxUakajurYax9jmtNSm0tphRNtge6Xt3wi7E/edit?usp=sharing">Terms and conditions</a>
            </p>


            <p class="mt-3">
                <button type="button" class="btn btn-outline-secondary" id="no-consent-btn" data-bs-toggle="modal" data-bs-target="#confirmModal">
                    Continue Without Consent
                </button>
            </p>
        </div>
    <!-- Modální okno pro potvrzení -->

    <!-- Modální okno pro potvrzení -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You have chosen to proceed without agreeing to the consent. Some features may be limited. Are you sure you want to continue?
                <p class="mt-2 text-danger"><strong>Please wait <span id="countdown">5</span> seconds before confirming.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" id="confirm-no-consent" disabled>Proceed Without Consent</button>
            </div>
        </div>
    </div>
</div>

    </div>


{% endblock %}
{% block script %}
<script>
    const uploadForm = document.getElementById('upload_form');
    const input_file = document.getElementById('id_mediafile');
    const progress_bar = document.getElementById('progress');

    $("#upload_form").submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        const media_data = input_file.files[0];
        if(media_data != null){
            progress_bar.classList.remove("not-visible");
        }

        $.ajax({
            type: 'POST',
            {# get url of actual pakge #}
            url: window.location.href,
            {#url:'{% url 'caidapp:upload_archive' %}',#}
            {#url:'{% url next %}',#}
            data: formData,
            dataType: 'json',
            beforeSend: function(){

            },
            xhr:function(){
                const xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', e=>{
                    if(e.lengthComputable){
                        const percentProgress = (e.loaded/e.total)*99;
                        const percentProgressInt = Math.round(percentProgress);
                        progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success"
                    role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0"
                    aria-valuemax="100">${percentProgressInt}%</div>`
                    }
                });
                return xhr
            },
            success: function(response){
                uploadForm.reset()
                progress_bar.classList.add('not-visible')

                console.log("close to the render");
                console.log(response);

                const container = document.getElementById('appbody');
                // Inject the server-rendered HTML into the selected container
                container.innerHTML = response.html;
            },
            error: function(err){
                console.log(err);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });



    document.addEventListener('DOMContentLoaded', () => {
        // Najdi checkbox podle ID (nebo jiného identifikátoru)
        const consentCheckbox = document.getElementById('id_consent');
        const btnUpload = document.getElementById('btnUpload');
        const agreementMessage = document.getElementById('agreementMessage');

        if (consentCheckbox) {
            // Připoj event listener k checkboxu
            consentCheckbox.addEventListener('change', () => {
                btnUpload.disabled = !consentCheckbox.checked;
                if (consentCheckbox.checked) {
                    agreementMessage.style.display = 'none';
                }
                else {
                    agreementMessage.style.display = 'block';
                }
            });

            // Inicializace tlačítka podle výchozího stavu checkboxu
            btnUpload.disabled = !consentCheckbox.checked;
        }
    });



    document.addEventListener("DOMContentLoaded", function () {
        const consentCheckbox = document.getElementById("consent-checkbox");
        const submitBtn = document.getElementById("submit-btn");
        const confirmNoConsent = document.getElementById("confirm-no-consent");
        const noConsentBtn = document.getElementById("no-consent-btn");
        const countdownElement = document.getElementById("countdown");
        let countdownInterval;

        // Aktivace tlačítka "Submit" při zaškrtnutí souhlasu
        {#consentCheckbox.addEventListener("change", function () {#}
        {#    submitBtn.disabled = !consentCheckbox.checked;#}
        {# });#}

        // Při otevření modálního okna spustíme odpočet
        noConsentBtn.addEventListener("click", function () {
            confirmNoConsent.disabled = true; // Deaktivace tlačítka
            let secondsLeft = 5;
            countdownElement.textContent = secondsLeft;

            countdownInterval = setInterval(function () {
                secondsLeft--;
                countdownElement.textContent = secondsLeft;

                if (secondsLeft <= 0) {
                    clearInterval(countdownInterval);
                    confirmNoConsent.disabled = false; // Aktivace tlačítka
                }
            }, 1000);
        });

        // Při zavření modálního okna resetujeme odpočet
        document.getElementById("confirmModal").addEventListener("hidden.bs.modal", function () {
            clearInterval(countdownInterval);
            countdownElement.textContent = "5";
            confirmNoConsent.disabled = true;
        });

        // Při potvrzení "Proceed Without Consent" odeslat formulář
        confirmNoConsent.addEventListener("click", function () {
            {# close the modal #}
            $('#confirmModal').modal('hide');
            console.log("submitting form");
            {#document.getElementById("upload_form").submit();#}

            {#$form = $(this)#}
            $form = $("#upload_form")
            var formData = new FormData($form[0]);
            const media_data = input_file.files[0];
            if(media_data != null){
                progress_bar.classList.remove("not-visible");
            }

            $.ajax({
                type: 'POST',
                {# get url of actual pakge #}
                url: window.location.href,
                {#url:'{% url 'caidapp:upload_archive' %}',#}
                {#url:'{% url next %}',#}
                data: formData,
                dataType: 'json',
                beforeSend: function(){

                },
                xhr:function(){
                    const xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', e=>{
                        if(e.lengthComputable){
                            const percentProgress = (e.loaded/e.total)*99;
                            const percentProgressInt = Math.round(percentProgress);
                            progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success"
                    role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0"
                    aria-valuemax="100">${percentProgressInt}%</div>`
                        }
                    });
                    return xhr
                },
                success: function(response){
                    uploadForm.reset()
                    progress_bar.classList.add('not-visible')

                    console.log("close to the render");
                    console.log(response);

                    const container = document.getElementById('appbody');
                    // Inject the server-rendered HTML into the selected container
                    container.innerHTML = response.html;
                },
                error: function(err){
                    console.log(err);
                },
                cache: false,
                contentType: false,
                processData: false,
            });
        });
    });


</script>

{% endblock %}
