{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <H2>{{ headline }} </H2>
        <div class="container">
            <a class="btn btn-secondary" href="{% url 'uploader:students_list' 7 %}">7 days</a>
            <a class="btn btn-secondary" href="{% url 'uploader:students_list' 30 %}">30 days</a>
            <a class="btn btn-secondary" href="{% url 'uploader:students_list' 90 %}">90 days</a>
            <a class="btn btn-secondary" href="{% url 'uploader:students_list' 365 %}">365 days</a>
        </div>

        <div class="row mt-3">
            {% for owner in owners %}
                <div class="col-md-3">


                    <div class="card">
                        {%  if owner.uploadedfile_set.all.first.preview %}
                            {% if owner.uploadedfile_set.all.first.preview.url %}
                            <img src="{{ owner.uploadedfile_set.all.first.preview.url }}" alt="Thumbnail" class="card-img-top">
                            {% endif %}
                        {% endif %}
{#{% else %}#}
{#    <p>No thumbnail available</p>#}
{#                        <img src="..." class="card-img-top" alt="...">#}
                        <div class="card-body">

                            <h5 class="card-title">{{ owner }}</h5>

                            <a href="{% url 'uploader:owners_reports_list' owner.hash %}" class="btn btn-secondary">Reports</a>
                            <a href="{% url 'uploader:assigned_to' owner.hash %}" class="btn btn-secondary">Assignments</a>
{#                            {{ owner.uploadedfile_set.all.first.preview.url }}#}

{#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
{#                                of the card's content.</p>#}
{#                            <a href="{% url 'uploader:run_collection' collection.id %}" class="btn btn-primary">Run</a>#}
{#                            <a href="{% url 'uploader:show_collection' collection.id %}" class="btn btn-primary mt-2"><i class="fa fa-list"></i> Media files</a>#}
{#                            <a href="{% url 'uploader:collection_update_spreadsheet' collection.id %}" class="btn btn-primary mt-2"><i class="fa fa-table"></i> Update spreadsheet</a>#}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
