{% extends 'base.html' %}
{% load myfilter %}

{% block body %}
<div
        {% if user.is_authenticated %}
            class="container-xxl"
        {% else %}
            class="container"
        {% endif %}
>
    {% if owner %}
        <H2> Reports for {{ owner.email }} </H2>
    {% elif headline %}
        <H2> {{ headline }} </H2>
    {% else %}
        <H2> List of reports </H2>
    {% endif %}
    {#        <H2> List of reports </H2>#}
    {% if myhtml %}
    Graph

    {% autoescape off %}
    {{ myhtml }}
    {% endautoescape %}
    {% endif %}
{#    <input id="search_here" class="form-control mb-3" placeholder="type here to search.."/>#}
<form method="get" class="mb-3">
    <input type="text" name="q" placeholder="Search reports..." value="{{ request.GET.q }}" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

{% if query %}
    <p>Results for: "<strong>{{ query }}</strong>"</p>
{% endif %}
<form id="selectedReportsForm" method="post" action="{% url 'uploader:add_multiple_to_collection' %}">
    {% csrf_token %}
    <div class="mt-3">
        {% include "uploader/pagination_a.html" %}
{# if user is authentificated #}
        {% if user.is_authenticated %}
                <!-- Dropdown for selecting a collection -->
            <div class="d-flex align-items-center gap-2">
        <select name="collection_id" class="form-select">
            <option value="">New Collection</option>
            {% for collection in collections %}
                <option value="{{ collection.id }}">{{ collection.name }}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" onclick="submitSelectedReports()">Add to Collection</button>
            </div>
        {% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            </th>

            {% if not private_mode %}
            <th scope="col"><a class="link-secondary" href="?order_by=email">
                {% if order_by == "email" %} ▼ {% endif %} Email </a>
            </th>
            {% endif %}

            <th scope="col"><a class="link-secondary" href="?order_by=filename">
                {% if order_by == "filename" %} ▼ {% endif %} File name </a>
            </th>
            <th scope="col">
                <a class="link-secondary" href="?order_by=-category">
                    {% if order_by == "-category" %} ▼ {% endif %}
                    Category
                </a>
            </th>

            <th scope="col">
                <a class="link-secondary" href="?order_by=-uploaded_at">
                    {% if order_by == "-uploaded_at" %} ▼ {% endif %}
                    Uploaded At
                </a>

            </th>
            <th scope="col" colspan="2"></th>
        <th scope="col">Score</th>
            {% if user.is_authenticated %}
                <th scope="col" colspan="2"></th>
                <!--            <th scope="col" colspan="2">Queue size = {{ queue_size }}</th>-->
                <th scope="col"><a href="?order_by=-enqueued_at">
                    {% if order_by == "-enqueued_at" %} ▼ {% endif %} Enqueued At </a>
                </th>
                <th scope="col"><a href="?order_by=-started_at">
                    {% if order_by == "-started_at" %} ▼ {% endif %} Started At </a>
                </th>
                <th scope="col"><a href="?order_by=-finished_at">
                    {% if order_by == "-finished_at" %} ▼ {% endif %} Finished At </a>
                </th>
                <th scope="col"><input type="checkbox" id="select_all" /></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for uploadedfile in uploadedfiles %}
            <tr class="align-middle" id="row{{ uploadedfile.id }}">
                <td scope="col" class="p-1">
                    {% if uploadedfile.preview %}
                        <image src="{{ uploadedfile.preview.url }}" class="rounded img-fluid"
                               alt="thumbnail with the processed video"
                               style="min-width: 66px; max-width: 80px;"></image>
                    {% endif %}
                </td>

                {% if not private_mode %}
                <td scope="row">
                    {% if uploadedfile.owner.hash %}
                        <a href="{% url 'uploader:owners_reports_list' uploadedfile.owner.hash %}"
                           style="word-break: break-all;"
                        >
                            {{ uploadedfile.email }} </a>
                    {% else %}
                        {{ uploadedfile.email }}
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    <a href="/uploader/web_report/{{ uploadedfile.hash }}/{{ uploadedfile.review_edit_hash }}/?next={{ request.path|urlencode }}"
                       style="word-break: break-all;"
                    >
                        {{ uploadedfile }}</a></td>
                <td>
                    {{ uploadedfile.category }}</td>
                <td>
                    <a href="/uploader/web_report/{{ uploadedfile.hash }}/{{ uploadedfile.review_edit_hash }}/?next={{ request.path|urlencode }}">
                        {{ uploadedfile.uploaded_at |date:'Y-m-d H:i' }}</a></td>
                <td>
                    {% if uploadedfile.is_microsurgery %}
                        <i class="fa-solid fa-microscope"></i>
                    {% else %}
                        <i class="fa-regular fa-eye"></i>
                    {% endif %}
                    {% if uploadedfile.stitch_count > 0 %}
                        <div data-toggle="tooltip" data-placement="top" title="Stitch Count">
                        <span class="badge rounded-pill text-bg-secondary">
                        {{ uploadedfile.stitch_count }}
                        </span>
                        </div>
                    {% endif %}
                    {% if uploadedfile.review_assigned_to %}
                        <div data-toggle="tooltip" data-placement="top"
                             title="Assigned to: {{ uploadedfile.review_assigned_to.email }} at
                                     {{ uploadedfile.review_assigned_at|date:'Y-m-d H:i' }}"
                        >
                            <i class="fa fa-user"></i>
                        </div>
                    {% endif %}
                    {% if uploadedfile.mediafileannotation_set.all %}
                        <div data-toggle="tooltip" data-placement="top"
                             title="Annotation count: {{ uploadedfile.mediafileannotation_set.count }}. Latest annotation at
                                   {{ uploadedfile.latest_annotation.updated_at|date:'Y-m-d H:i' }} by {{ uploadedfile.latest_annotation.annotator.email }}.
                                   Annotation: {{ uploadedfile.latest_annotation.annotation }}"
                        >
                            <i class="bi bi-card-text"></i>
                        </div>
                        <!-- There are MediaFileAnnotations related to this UploadedFile -->
                    {% else %}
                        <!-- There are no MediaFileAnnotations related to this UploadedFile -->
                    {% endif %}
                    {% if uploadedfile.email_sent_at %}
                        <i class="bi bi-envelope-fill"
                           data-toggle="tooltip" data-placement="top"
                           title="Email sent at {{ uploadedfile.email_sent_at|date:'Y-m-d H:i' }}"
                    {% endif %}

                    {#                      <span class="fa-stack fa-2x">#}
                    {#    <i class="fa-solid fa-camera fa-stack-1x"></i>#}
                    {#    <i class="fa-solid fa-ban fa-stack-2x" style="color:Tomato"></i>#}
                    {#  </span>#}
                </td>
                <td>
                    <div data-toggle="tooltip" data-placement="top" title="{{ uploadedfile.processing_message }}">
                        {% if uploadedfile.processing_ok %}
                            <i class="fa fa-check text-success"></i>
                        {% else %}
                            {% if uploadedfile.processing_message == "Not finished yet." %}
                                <i class="fa fa-spinner fa-spin text-secondary"></i>
                            {% else %}
                                <i class="fa fa-close text-danger"></i>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            <td>
                {% if uploadedfile.score %}
                    {{ uploadedfile.score|mul:1|floatformat:1 }}
                {% endif %}
            </td>
                {% if user.is_authenticated %}
                    <td><a class="btn btn-light"
                           href="{% url 'uploader:run' uploadedfile.hash %}?next={{ request.path|urlencode }}&next_anchor=row{{ uploadedfile.id }}"
                    >Run</a>
                    </td>
                    <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                        <div class="dropdown">
                            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{% url 'uploader:resend_report_email' uploadedfile.id %}?next={{ request.path|urlencode }}"
                                >Send Email</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'uploader:run_and_send_email' uploadedfile.hash %}?next={{ request.path|urlencode }}&next_anchor=row{{ uploadedfile.id }}"
                                    >Run and send email</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'uploader:run_and_force_tracking' uploadedfile.hash %}?next={{ request.path|urlencode }}&next_anchor=row{{ uploadedfile.id }}"
                                >Run and force tracking</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'admin:uploader_uploadedfile_change' uploadedfile.id %}"
                                >Edit in Admin</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'uploader:show_mediafile_logs' uploadedfile.hash %}"
                                >Log</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'uploader:swap_is_microsurgery' uploadedfile.id %}?next_anchor=row{{ uploadedfile.id }}"
                                    >
                                        Switch <i class="fa-solid fa-microscope"></i> /
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'uploader:delete_media_file' uploadedfile.id %}"
                                       onclick="return confirm('Are you sure you want to delete {{ uploadedfile }}?');"
                                    >
                                        Delete
                                    </a>


                            </ul>
                        </div>
                        </div><div class="btn-group" role="group">
                        <div class="dropdown">
                            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="bi bi-bookmark-plus"></i>
                            </a>

                            <ul class="dropdown-menu">
                                {% for collection in collections %}
                                <li><a class="dropdown-item"
                                       href="{% url 'uploader:add_to_collection' collection.id uploadedfile.id %}?next={{ request.path|urlencode }}"
                                >{{ collection }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    </div>
                    </td>

                    <td>{{ uploadedfile.enqueued_at |date:'Y-m-d H:i' }}</td>
                    <td>{{ uploadedfile.started_at |date:'Y-m-d H:i' }}</td>
                    <td>{{ uploadedfile.finished_at |date:'Y-m-d H:i' }}</td>
                    <td><input type="checkbox" name="selected_reports" value="{{ uploadedfile.id }}" class="report-checkbox" /></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-secondary" href="{% url 'uploader:model_form_upload' %}">Upload next</a>
    <div class="mt-2">
        {% include "uploader/pagination_a.html" %}
    </div>
    <script>
        const data = '{{qs_json}}'

        const rdata = JSON.parse(data.replace(/&quot;/g, '"'))

        const input = document.getElementById('search_here');

        let filteredArr = []

        input.addEventListener('keyup', (e) => {
            for (const element_id in rdata) {
                if (rdata[element_id].includes(e.target.value)) {
                    const el = document.getElementById("row" + element_id);
                    el.classList.remove("d-none");
                } else {
                    document.getElementById("row" + element_id).classList.add('d-none');

                }
            }
        })

        {# show tooltip #}
        {#$(document).ready(function () {#}
        {#    $('[data-toggle="_status_to_uploaded_filetooltip"]').tooltip();#}
        {# });#}
    </script>

    {#            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
    {#                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"#}
    {#                    crossorigin="anonymous"></script>#}
    {#            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"#}
    {#                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"#}
    {#                    crossorigin="anonymous"></script>#}
    <script>
        {# show tooltip #}
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        document.getElementById("select_all").addEventListener("click", function() {
            const checkboxes = document.querySelectorAll(".report-checkbox");
            checkboxes.forEach(checkbox => {
                checkbox.checked = this.checked;
            });
        });

        function submitSelectedReports() {
            const form = document.getElementById("selectedReportsForm");
            const selectedReports = Array.from(document.querySelectorAll('.report-checkbox:checked')).map(cb => cb.value);

            if (selectedReports.length === 0) {
                alert("Please select at least one report.");
                return;
            }

            // Add selected IDs as hidden inputs
            selectedReports.forEach(id => {
                const hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "selected_reports";
                hiddenInput.value = id;
                form.appendChild(hiddenInput);
            });

            form.submit();
        }
    </script>
</form>
</div>

{% endblock %}
