{% extends 'base.html' %}

{%  block head %}
    <style>
        .star-rating {
            direction: rtl; /* Reverse the order of the radio buttons */
        }
        .star-rating input[type="radio"] {
            display: none; /* Hide the radio buttons */
        }
        .star-rating label {
            color: #ccc; /* Default star color */
            font-size: 24px;
            padding: 0 5px;
            cursor: pointer;
        }
        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type="radio"]:checked ~ label {
            color: gold; /* Highlighted and selected star color */
        }
    </style>
<script>
    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>
{%  endblock %}

{% block staffmenu %}
    <li>
{#        <a href="{% url 'admin:uploader_upload_change' upload.id %}">Admin Page for Upload</a>#}
    <a class="dropdown-item d-flex align-items-center"
       href="{% url 'admin:uploader_uploadedfile_change' serverfile.id %}">
        <i class="bi bi-arrow-clockwise"></i> Edit in admin
    </a>
    </li>


{% endblock %}


{% block body %}
<div class="container pb-4">
    <H2> Report: {{mediafile}} </H2>
    {% for videofile_url in videofiles_url %}
    <div class="pt-3">
        <video
                id="my-video"
                class="video-js embed-responsive"
                controls
                autoplay
                muted
                preload="auto"
                data-setup='{"fluid": true}'
                poster="{{videofile_url}}.jpg"
        >
            <source src="{{ videofile_url }}" type="video/mp4"/>
            <!--                    <source src="MY_VIDEO.webm" type="video/webm" />-->
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>
        <!--                </div>-->

    </div>
    {% endfor %}

    <!-- Button to add current time-position -->

<!-- Text area to display time-positions -->
{#<textarea id="time-positions" rows="4" cols="50"></textarea>#}

    <div>
        <h3>Annotation</h3>
        <button id="add-time-btn" class="btn btn-secondary">Add Current Time</button>
            <form method="post" >
    {% csrf_token %}
    {{ form.annotation }}
    <div class="star-rating">
        {% for choice in form.stars %}
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}"><i class="fa fa-star"></i></label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div>
        <h3>Statistics</h3>
        <ul>
            {% for key, value in results.items %}
            <li><b>{{key}}</b>: {{value}}</li>
            {% endfor %}
        </ul>
    </div>

    <!--    <p>-->
    <!--        {{ serverfile.mediafile.name }}-->
    <!--    </p>-->
    <!--    <p>-->
    <!--        {{ serverfile.zipfile.url }}-->
    <!--    </p>-->
    <div class="pt-3">
        <h3>Images</h3>
        {% for im in image_list %}
        <a href="#" class="pop">

            <figure class="figure">
                <img src="{{ im.bitmap_image.url }}" class="figure-img img-fluid rounded"
                     alt="A generic square placeholder image with rounded corners in a figure." width=550>
-                <figcaption class="figure-caption">{{ im.filename }}</figcaption>
            </figure>
        </a>
        {% endfor %}
        <p>
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                More images
            </a>
        </p>
        <div class="collapse" id="collapseExample">
                {% for im in image_list_out %}
                <a href="#" class="pop">

                    <figure class="figure">
                        <img src="{{ im.bitmap_image.url }}" class="figure-img img-fluid rounded"
                             alt="A generic square placeholder image with rounded corners in a figure." width=550>
                                        <figcaption class="figure-caption">{{ im.filename }}</figcaption>
                    </figure>
                </a>
                {% endfor %}
        </div>

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% if next == None %}
    <a class="btn btn-secondary" href="{% url 'uploader:model_form_upload' %}">Upload next</a>
    {% else %}
    <a class="btn btn-secondary" href="{{ next }}">Back</a>
    {% endif %}
    <a class="btn btn-secondary" href='{{ serverfile.mediafile.url }}' download> Download original file </a>
    <a class="btn btn-primary" href='{{ serverfile.zip_file.url }}'> Download whole report </a>
    {% if user.is_authenticated %}
{#        <td><a class="btn btn-light"#}
{#               href="{% url 'uploader:resend_report_email' uploadedfile.id %}?next={{ request.path|urlencode }}">Send#}
{#            Email</a></td>#}
{#        <td>{{ uploadedfile.started_at |date:'Y-m-d H:i' }}</td>#}
        <a class="btn btn-secondary" href='{% url 'uploader:show_logs' serverfile.hash %}' > Show log </a>
    {% endif %}
</div>

{#<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>#}
    <script>


        document.getElementById('add-time-btn').addEventListener('click', function() {
            var video = document.getElementById('my-video');
            var currentTime = video.currentTime; // Get current time in seconds

            // Format the time correctly
            var hours = Math.floor(currentTime / 3600);
            var minutes = Math.floor((currentTime - (hours * 3600)) / 60);
            var seconds = Math.floor(currentTime - (hours * 3600) - (minutes * 60));

            var formattedTime =
                (hours < 10 ? "0" + hours : hours) + ":" +
                (minutes < 10 ? "0" + minutes : minutes) + ":" +
                (seconds < 10 ? "0" + seconds : seconds);

            var textArea = document.getElementById('id_annotation');
            textArea.value += (textArea.value ? "\n" : "") + formattedTime + " "; // Append formatted time to text area
            textArea.focus(); // Set focus on the text area
            textArea.scrollTop = textArea.scrollHeight; // Scroll to the bottom of the text area
        });
    </script>
{% endblock %}
