version: '3.8'
services:
  dev_piglegweb:
    container_name: "${PIGLEG_IMAGE_PREFIX:-dev_}piglegweb"
    image: "${PIGLEG_IMAGE_PREFIX:-dev_}piglegweb:latest"
    build: docker
    ports:
      - '${PIGLEG_PORT:-8100}:8000'
      # outer:inner
    environment:
      - PIGLEGCV_HOSTNAME=dev_piglegcv
      - PIGLEGCV_PORT=5000
#      - PIGLEG_SPREADSHEET_URL="${PIGLEG_SPREADSHEET_URL}"
    env_file:
      # there should be PIGLEG_SPREADSHEET_URL
      - ".env.dev"
    #      - PIGLEGCV_HOSTNAME_DEVEL=piglegcv_devel
    #      - PIGLEGCV_PORT_DEVEL=5000
    #      - DOCKERLOGNAME="devel"
    #     dockery vidí své vnitřní porty, nikoliv ty vnější
    volumes:
      - "${PIGLEG_ROOT_DIR:-./}:/webapps/piglegsurgery"
      - "${PIGLEG_MEDIA_DIR:-./piglegsurgeryweb/media_symlink}:/webapps/piglegsurgery/piglegsurgeryweb/media"
      - "${PIGLEG_LOG_DIR:-./logs_dev}:/home/appuser/pigleg/logs"
      #      - "C:/Users/Jirik/projects/piglegsurgery:/webapps/piglegsurgery"
    networks:
      - dev_piglegnet
  dev_piglegcv:
    container_name: "${PIGLEG_IMAGE_PREFIX:-dev_}piglegcv"
    image: "${PIGLEG_IMAGE_PREFIX:-dev_}piglegcv:latest"
    build: piglegcv
    env_file:
      - ".env.dev"
    ports:
      - '5000'
      - '${PIGLEG_JUPYTER_PORT:-8808}:8888'
    volumes:
      - "${PIGLEG_ROOT_DIR:-./}:/webapps/piglegsurgery"
      - "${PIGLEG_MEDIA_DIR:-./piglegsurgeryweb/media_symlink}:/webapps/piglegsurgery/piglegsurgeryweb/media"
      - "${PIGLEG_LOG_DIR:-./logs_dev}:/home/appuser/pigleg/logs"
      - "./.jupyter:/home/appuser/.jupyter"
    networks:
      - dev_piglegnet
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]

volumes:
  dev_piglegweb:
    driver: local
  dev_piglegcv:
    driver: local
  dev_logs:
    driver: local

networks:
  dev_piglegnet:
