name: piglegsurgery
channels:
#    - mjirik
#    - SimpleITK
    - conda-forge
    - anaconda
#    - pytorch
    - defaults
dependencies:
    - python=3.9
    - pip=23.1
    - django=3.2
    - django-allauth=0.53
    - django-environ=0.4
#    - redis=3
    - pandas=1.3
#    - google-api-python-client=2.88
#    - google-auth-httplib2=0.1
#    - google-auth=2.19
#    - gspread=5.7
#    - oauth2client=4.1
#    - google-auth-oauthlib=1.0
    # maybe not necessary
#    - loguru=0.5
#    - gunicorn=20.1
#    - opencv=4
#    - ffmpeg
#    - pillow
#    - pytest

